@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Roboto&display=swap");
@import "reset.css";
body {
  font-family: "Open Sans", sans-serif;
}

svg {
  width: 20px;
  height: 20px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
}

.status-bar__column:first-child apan {
  margin-right: 3px;
}
